:root {
  --text-clr: rgba(0, 0, 0, 0.8);
  --btn-color: #1a73e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-clr);
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.navbar ul {
  display: flex;
}

.navbar li {
  padding-inline: 8px;
  font-size: 13px;
}

.navbar .links:hover {
  text-decoration: underline;
}

.navbar img {
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}
.navbar img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.btn {
  margin: 15px;
  font-size: 15px;
  color: white;
  background-color: #1a73e8;
  padding: 10px 25px;
  border-radius: 5px;
}

.btn-sign-in:hover {
  background-color: #3383eb;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 100px;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* ---remove x icon on the end of the search bar--- */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hero .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-inline: auto;
  font-size: 1rem;
  width: 600px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-inline: 20px;
  margin-bottom: 20px;
}

.hero .search:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1);
}

.hero .search:focus {
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1);
}

.hero input {
  color: var(--text-clr);
  font-size: 1rem;
  width: 100%;
  border: none;
}
.hero input:focus {
  outline: none;
}

.hero i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  cursor: pointer;
}

.hero .btn-light {
  padding: 9px 15px;
  border: none;
  color: var(--text-clr);
  background-color: rgba(0, 0, 0, 0.03);
  margin: 5px;
}

.hero .btn-light:hover {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hero p {
  font-size: 0.8rem;
  color: var(--text-clr);
  margin-top: 30px;
}

.hero p span {
  color: #0044ff;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  font-size: 0.9rem;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-top {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-bottom {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .left,
.footer .right {
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 600px){
  .footer-bottom{
  flex-direction: column;
  padding: 5px 0;
  }

  .footer-top{
    justify-content: center;
  }

  .hero .search{
    width: 90%;
  }
}
